@charset 'utf-8';
@import url('https://fonts.cdnfonts.com/css/star-wars');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

:root{
    --fonte-padrao:'Star Wars', sans-serif;
}

body{
    background-image: url('../assets/sistema-solar.jpg');
    background-size: cover; /*Para ocupar todo o espaço da tela.*/
    
}



a{
    text-decoration: none;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 40%;
    height: auto;
}

.logo-text{
    font-family: var(--fonte-padrao);
    font-size: 1rem;
}


.navegacao-paginas{
    display: flex;
    justify-content: space-between;
    
   
}

ul{
    display: flex; 
    
}

li{
    width: 200px;
    font-family: var(--fonte-padrao);
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
           
}

li:hover{
    color: gold;
}





.social-media{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

i:hover{
    font-size: 1.2rem;
    color: gold;
}

/* i:hover{
    color: gold;
} */

.main-container{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

h2{
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
    color: gold;
    font-weight: 300;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
}

.cards{
    width: 313px;
    height: 470px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

.cards:hover{
    transform: scale(1.02);
}

.character-name-bg{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.character-name{
    font-family: var(--fonte-padrao);
    color: gold;
    font-size: 1rem;
}

.button{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.3s;
}

button:hover{
    background-color: #000;
    color: gold;
}

#back-button{
    visibility: hidden; /*Hidden => elemento existe mais está escondido*/
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    margin: 40px 0 20px 0;
}

.footer-paginas{
    display: flex;
    justify-content: space-between;
   
}

.footer-navegation{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.footer-logo{
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
    font-weight: 500;
}



.copyrigth{
    font-weight: 500;
}

.modal{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
}

.modal-content{
    width: 25vw;
    height: 70vh;
    background-color: #0d0d0d;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
}

.character-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: 50% 10%;
    background-size: cover;
}

.character-details{
    font-family: 'Star Wars', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: gold;
}

@media(max-width: 768px){
    .footer-navegation{
        display: block;
    }

    .navegacao-paginas{
        display: none;
       
    }

    .logo-img{
        background-position: 40%;
    }

    h2{
        text-align: justify;
    }

    .modal-content{
        width:max-content
    }


}